{% block head %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Электроника для начинающих!</title>
</head>
{% endblock %} {% block top_menu %}

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__body">
                    <a href="#" class="header__logo">
                        <img src="../static/img/free-png.ru-720.png">
                    </a>
                    <div class="header__burger">
                        <span></span>
                    </div>
                    <nav class="header__menu">
                        <ul class="header__list">
                            <li>
                                <a href="" class="header__link">Главная</a>
                            </li>
                            <li>
                                <a href="" class="header__link">Материалы</a>
                            </li>
                            <li>
                                <a href="" class="header__link">Полезное</a>
                            </li>
                            <li>
                                <a href="" class="header__link">Примеры работ</a>
                            </li>
                            <li>
                                <a href="" class="header__link">Отзывы</a>
                            </li>
                            <li>
                                <a href="" class="header__link">О сайте</a>
                            </li>


                        </ul>
                    </nav>
                </div>

            </div>
        </header>
        {% endblock %}
        <div class="content">
            <div class="container">
                <div class="content__text">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum molestias reprehenderit quis quibusdam, autem cupiditate, aut at veniam nobis asperiores minima? Voluptates necessitatibus neque voluptatem totam aut voluptatibus
                        dignissimos ullam repellendus. Incidunt fuga voluptatum sunt cumque earum, totam expedita voluptates, dolor dicta sapiente culpa rerum laborum. Beatae, cum similique? Cupiditate modi libero aperiam, repellendus, veritatis, necessitatibus
                        alias voluptate optio quisquam fugiat itaque debitis? Unde voluptates, amet assumenda hic numquam, libero minima rem nisi nihil temporibus, beatae voluptate? Maxime veniam nostrum ipsa facilis pariatur provident voluptate nihil
                        suscipit quae accusamus, excepturi, dolore magni tempora. Id cumque eius vel culpa assumenda ipsum? Itaque minima voluptate exercitationem quibusdam vitae explicabo quam illum odio expedita. Deserunt esse iusto, a odio dolorum
                        veritatis fuga! Aperiam, sequi eos ea facere accusantium maiores</p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis repudiandae harum quo sint eveniet rerum distinctio cum aspernatur incidunt adipisci officiis, eos recusandae molestias, ipsam quae labore, maiores nesciunt corporis illum fuga hic? Earum
                    sint aperiam quam natus incidunt modi repudiandae sed, consequuntur enim ex, officia ab harum! Ducimus molestias beatae tempore dolor necessitatibus repellat eveniet fugiat, sed cupiditate quo quis autem cumque fugit mollitia repudiandae
                    nulla sunt, ratione repellendus. Repudiandae inventore id facilis possimus natus. Nihil natus repellat nulla quasi harum reiciendis temporibus totam, voluptatem, assumenda excepturi tempora voluptatibus, vel modi. At modi nemo accusantium,
                    necessitatibus quidem quibusdam reprehenderit beatae voluptas architecto in vero enim iste error ipsa dolores esse quaerat labore deleniti quos harum iure suscipit? Temporibus eaque, perferendis labore, unde ipsam est iure officia,
                    placeat delectus praesentium aliquid voluptatum ducimus. Eligendi quam voluptates officia illo nostrum nisi recusandae asperiores veritatis inventore culpa fugiat magnam incidunt magni, a repudiandae et, nihil, vero nobis quibusdam
                    distinctio facilis. Quis deleniti ab fugiat esse! Quae, vero quas deleniti, explicabo earum modi quaerat impedit aliquam ad ducimus vel aliquid! Dolor, praesentium reprehenderit illo voluptatem consectetur deleniti officiis voluptates
                    laudantium odit voluptas modi esse aliquid repudiandae voluptatibus quam maiores obcaecati, hic enim quasi vel doloribus blanditiis accusantium sunt. Natus illum ducimus cumque odio exercitationem tenetur similique praesentium aut
                    quisquam. Voluptatum, animi repellendus. Reiciendis maxime placeat doloribus! Voluptate praesentium, temporibus exercitationem mollitia beatae rem omnis libero officia recusandae, a cum eos aut ad excepturi molestias cumque quod placeat.
                    Libero nostrum quibusdam reiciendis consequatur neque veritatis ab blanditiis beatae non ipsum, magnam expedita, repellendus, consequuntur dicta qui ex cumque vitae. Nostrum aliquid tenetur adipisci doloremque quia libero odio corrupti
                    est dolor laboriosam rerum assumenda debitis aut, voluptate neque natus quisquam molestiae, ipsum dicta error! Sunt in, fuga deleniti enim sed quaerat illum esse quos culpa adipisci cum unde nihil, consequatur quo. Quis eligendi repudiandae
                    ipsam minima reiciendis temporibus magni asperiores nisi aperiam qui blanditiis, culpa laborum cupiditate reprehenderit perferendis deserunt cumque expedita? Autem ipsum eum eaque quisquam magnam repudiandae illum dolorum doloremque,
                    qui ipsa neque eveniet expedita placeat, possimus nemo delectus nihil sit libero maiores omnis modi? Commodi laborum, nisi libero aperiam officiis cum exercitationem perferendis, deleniti aut accusamus itaque fugit voluptas numquam
                    necessitatibus nulla, voluptatem recusandae quia illum? Vel rem nemo molestiae odio. Expedita temporibus iusto aperiam distinctio culpa similique nostrum. Similique quo cupiditate fugiat labore in quae consequuntur? Explicabo maxime
                    architecto optio itaque unde tempora iste velit blanditiis totam ducimus ut perferendis provident in placeat dolore nesciunt, enim doloribus, perspiciatis cum et. Eius saepe at dolorem voluptate hic doloremque amet nihil tempora, labore,
                    animi ea enim explicabo fugit, nobis nam dolore odio possimus iste quos nemo omnis nesciunt fugiat. Suscipit tenetur non eius qui, aliquam quis ipsum voluptatum enim asperiores quisquam hic amet esse harum libero dolores alias voluptates
                    ipsam dolorum! Quo numquam aperiam pariatur nisi natus obcaecati suscipit, voluptas ratione, reiciendis id consectetur. Pariatur, nihil placeat adipisci aut rem eos expedita amet voluptates harum deleniti at illum ut facilis nesciunt
                    maxime eius? Ab minima quibusdam vero, est et, fugit dolores blanditiis, aliquam temporibus placeat totam ex sint quia ducimus magni. Unde aut, a voluptatem eos error, eligendi possimus, non pariatur fugit inventore ipsa iure saepe
                    officia corrupti. Omnis facilis quos illo pariatur obcaecati exercitationem quo officiis distinctio rem? Enim porro atque distinctio eum omnis? Doloremque reiciendis aliquid pariatur voluptatibus cum hic blanditiis quisquam temporibus
                    harum exercitationem expedita amet aperiam facere, illum quidem alias veritatis esse autem officiis! Quae possimus explicabo quibusdam. Eum deserunt sed, non ipsum ex quae dolorem, blanditiis, et quis earum voluptas officia voluptate
                    unde illum distinctio. Eum similique asperiores odit sapiente dolores dignissimos dolor, reprehenderit quaerat id! Repellendus a sequi unde magni reprehenderit doloribus quas modi delectus cumque ratione necessitatibus atque voluptatem
                    quasi ullam consequatur, dolor accusantium animi impedit? Dolore sit veniam ab! Animi assumenda voluptates, odio itaque minima corrupti provident tenetur eveniet excepturi earum recusandae, ex, repellendus rem quod repellat quaerat!
                    Libero molestiae architecto omnis numquam a sunt fuga sint deserunt, ducimus officia. A, officiis sit aliquam facilis officia cupiditate dolores perspiciatis nam accusantium rerum quis, adipisci fugiat accusamus aliquid quia incidunt
                    eum modi! Dicta quas molestiae qui, praesentium eum optio amet natus exercitationem, incidunt cum molestias nam ducimus eos voluptas neque alias velit, saepe dolorem! Saepe ad nobis ut, placeat facilis amet quisquam repellat accusantium
                    eius quas dignissimos eligendi, aliquam rerum magnam qui quo, sit cupiditate sed! Facere, possimus. Nulla laboriosam laborum esse atque magnam distinctio! In voluptate cum, possimus enim necessitatibus perferendis eos officia voluptatem
                    laudantium? Beatae culpa fugiat delectus vero sed ad voluptatibus unde dolorum hic aliquam omnis quod blanditiis quos ullam eaque ab quis, pariatur aperiam quasi. Dignissimos adipisci vel blanditiis aperiam deleniti autem est in placeat
                    voluptas possimus. Tempore adipisci deleniti ex dignissimos cupiditate illum quibusdam. Accusamus, facilis numquam sunt illum recusandae quidem ipsa consequuntur aliquam tempore quis. Aliquid expedita adipisci eveniet fuga aliquam
                    earum quis! Dignissimos eaque sunt, similique atque, animi recusandae rem, nobis ullam molestiae sapiente et minima voluptatibus? Suscipit quis voluptates dolores recusandae nisi repudiandae omnis debitis earum eligendi, veniam tenetur,
                    rerum repellendus animi tempore? Quis repudiandae obcaecati id asperiores error iure dolores necessitatibus dignissimos nam, velit eveniet tenetur sapiente reiciendis nihil veritatis, ducimus maiores! Rem nesciunt dolores minus consequatur
                    quia. Ipsum itaque in deserunt mollitia qui eius, tenetur sit pariatur molestias natus, odio eligendi aperiam. Dignissimos magni animi autem. Atque quibusdam temporibus enim. In necessitatibus, nihil molestiae cupiditate fuga eum omnis
                    quam laudantium, eaque vero facere ad provident veritatis officia perferendis expedita minus ratione quo nesciunt laborum quod voluptates? Delectus aliquid vel voluptates soluta numquam deserunt veniam incidunt, officiis praesentium
                    officia necessitatibus aliquam voluptatibus sed autem architecto earum amet ipsam voluptatum ea. Assumenda eaque, eligendi facilis magni suscipit, iusto architecto autem, sit vel dicta nobis fugit deleniti recusandae. Iusto, ea amet
                    dicta necessitatibus fugiat cupiditate assumenda consequatur iste, exercitationem vel cum beatae deleniti iure maxime culpa eligendi qui aspernatur veritatis enim sint nesciunt quos veniam tempore! Ipsa maiores maxime libero excepturi
                    et non facilis quisquam, molestias voluptatibus delectus molestiae!
                </div>
            </div>

        </div>

    </div>
    <footer>
        <div class="wrapper">
            <div class="contacts">
                <h1>IsakovWebDesign</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis atque ipsa doloribus. Rerum harum nobis, amet eius cupiditate aperiam qui quia quas deserunt, et itaque dicta reprehenderit beatae? Omnis delectus quidem libero modi ad minus? Cumque sequi
                    temporibus error aperiam itaque nihil praesentium. Ratione, repellendus distinctio enim accusantium porro impedit?
                </p>
                <div class="phone">
                    <a href="tel:+79281510281">+7 (928) 151-02-81 </a>
                </div>
                <div class="mail">
                    <a href="mailto:dmisakovn@gmail.com?subject=Запрос с сайта от юзера">dmisakovn@gmail.com</a>
                </div>
                <div class="footer__pictures">
                    <a href="#">
                        <img src="../static/img/Telegram.png" alt="TELEGRAM">

                        <a href="#">
                            <img src="../static/img/git.png" alt="GIT">
                        </a>
                        <a href="#">
                            <img src="../static/img/insta.png" alt="INSTAGRAMM">
                        </a>
                        <a href="#">
                            <img src="../static/img/vk.png" alt="VK">
                        </a>
                        <a href="#">
                            <img src="../static/img/whatsapp.png" alt="WHATSAPP">
                        </a>
                </div>


            </div>
            <div class="quick__links">
                <h1>Быстрые ссылки</h1>
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="">Материалы</a></li>
                    <li><a href="">Полезное</a></li>
                    <li><a href="">Примеры работ</a></li>
                    <li><a href="">Отзывы</a></li>
                    <li><a href="">О сайте</a></li>
                </ul>
            </div>
            <div class="contact__form">
                <div class="footer__form">
                    <legend>
                        <h1>Форма связи</h1>
                    </legend>
                    <input type="email" placeholder="Ваш email">
                    <input type="text" placeholder="Сообщение...">
                    <button class='button' type="submit" placeholder="Отправить">               
                </form>

            </div>

        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>